<app-navbar></app-navbar>
<section class="contact">
  <div class="content">
    <h2>Contacteaza-ne</h2>
  </div>
  <div class="container1">
    <div class="contactInfo">
      <div class="box">
        <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
        <div class="text">
          <h3>Adresa</h3>
          <p>Targu Neamt, Str Cuza-Voda nr 38</p>
        </div>
      </div>
      <div class="box">
        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
        <div class="text">
          <h3>Telefon</h3>
          <a href="tel:+40 739 036 150">+40 739 036 150</a>
        </div>
      </div>
      <div class="box">
        <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
        <div class="text">
          <h3>Email</h3>
          <a href="mailto:contactus@yahoo.com">contactus@yahoo.com</a>
        </div>
      </div>
    </div>
    <div class="contactForm">
      <form>
        <h2>Trimite Mesajul</h2>
        <div class="inputBox">
          <input autocomplete="off" type="text" required="required">
          <span>Numele</span>
        </div>
        <div class="inputBox">
          <input autocomplete="off" type="text" required="required">
          <span>Email</span>
        </div>
        <div class="inputBox">
          <textarea required="required"></textarea>
          <span>Scrie mesajul tau...</span>
        </div>
        <div class="inputBox">
          <input type="submit" value="Trimite" class="btn btn-primary">

        </div>
      </form>
    </div>
  </div>
</section>
<app-footer></app-footer>
