span {
  cursor: pointer;
}

.more-text {
  background-color: white;
  color: #2b2f33;
  width: 12rem;
}

.more-text:hover {
  background-color: #0dcaf0;
  color: #2b2f33;
  width: 14rem;
  box-shadow: 0px 0px 15px #0dcaf0, 0px 0px 45px #0dcaf0, 0px 0px 90px #0dcaf0
}

.more-less {
  background-color: white;
  color: #0dcaf0;
  width: 12rem;
}

.more-less:hover {
  background-color: #0dcaf0;
  color: white;
  box-shadow: 0px 0px 15px #0dcaf0, 0px 0px 45px #0dcaf0, 0px 0px 90px #0dcaf0
}
