@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
div {
  display: flex;
  position: relative;
}

img {
  max-width: 54%;
  height: auto;
}

.btn1 {
  position: absolute;
  max-width: 50%;
  height: auto;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.btn2 {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  max-width: 50%;
  height: auto;
  top: 50%;
  left: 47%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
}
